<div class="row">
  <div class="columns">
    <h2>Data File List</h2>
    <ul>
      <% @data_files.each do |data_file| %>
      <div><%= link_to data_file.name, data_file_path(data_file)%> <%= data_file.category %></div>
      <%end%>
    </ul>
    <%= link_to '<button type="button">Add a new data set</button>'.html_safe, new_data_file_path %>
  </div>
</div>
