    <h2>Welcome to the Sausage Production Data Analysis Site</h2>

    <h2>Javascript test</h2>
    <script>
    for(var i=1; i<=3; i++) {
      alert("Rabbit "+i+" out of the hat!")
    }
    </script>

<h3>Click on this link to go to the data file upload page.</h3>
<%= link_to '<button type="button">Data File List</button>'.html_safe, data_files_path %>
