    <h2>Welcome to the Sausage Production Data Analysis Site</h2>

<h3>Click on this link to go to the data file upload page.</h3>
<%= link_to '<button type="button">Data File List</button>'.html_safe, data_files_path %>
